<tr>
  <td><%= brand_size.size %></td>
  <td><span class="measurement"><%= brand_size.bust.ceil %></span></td>
  <td><span class="measurement"><%= brand_size.waist.ceil %></span></td>
  <td><span class="measurement"><%= brand_size.hip.ceil %></span></td>
  <td><%= brand_size.legend %></td>
</tr>
