<% provide(:title, @brand.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @brand.name %></h1>
      Website: <%= link_to @brand.website,
                   url_with_protocol(@brand.website),
                   target: "_blank" %>
      </br>
      Country: <%= @brand.country %>
    </section>
  </aside>
  <div class="span8">
    <% if @brand.brand_sizes.any? %>
      <h3>Sizes (<%= @brand.brand_sizes.count %>)</h3>
      <table class="brand-sizes">
        <tr>
          <th>Size</th> <th>Bust</th> <th>Waist</th>
          <th>Hip</th> <th>Legend</th>
        </tr>
        <%= render @brand_sizes %>
      </table>
    <% else %>
      No sizes.. yet.
    <% end %>
  </div>
</div>

